/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #11bd67, #07562f);
}

.wrapper {
  width: 400px;
  height: min-content;
  padding: 30px;
  text-align: center;
  background: #fff;
  border-radius: 12px;
}

.wrapper .icon {
  display: grid;
  place-items: center;
  width: 90px;
  height: 90px;
  background: #11bd67;
  border-radius: 50%;
  margin: 0 auto 12px;
}

.wrapper .icon i {
  font-size: 50px;
  color: #fff;
}

.wrapper h4 {
  font-size: 22px;
  color: #222;
}

.wrapper form {
  width: 100%;
}

.wrapper form .group {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0 36px;
}

.wrapper form .group input {
  width: 56px;
  height: 56px;
  margin: 0 8px;
  font-size: 25px;
  text-align: center;
  border-radius: 3px;
  border: none;
  color: transparent;
  background: #f0f0f0;
  text-shadow: 0 0 0 #000;
  transition: 0.1s ease-in-out;
}

.wrapper form .group input::-webkit-inner-spin-button {
  display: none;
}

.wrapper form .group input:focus {
  outline-offset: 3px;
  outline: 2px solid #11bd67;
}

.wrapper form button {
  width: 100%;
  background: #11bd67;
  color: #fff;
  padding: 12px 0;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 0.5;
  pointer-events: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.wrapper form button.active {
  opacity: 1;
  pointer-events: auto;
}

.wrapper form button:hover {
  background: #07562f;
}
